* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(./iU6oQ8.webp);
    background-attachment: fixed;
}


/*CSS do menu de cima*/

.menu-de-cima {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: black;
}

#logo {
    height: 70px;
    width: 80px;
    cursor: pointer;
}

.nav-dos-nomes-das-paginas {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.nome-das-paginas {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: rgb(243, 234, 234);
    transition: 0.5s;
}

.nome-das-paginas:hover {
    font-size: 25px;
}

/* O CSS do menu de cima acaba aqui*/



/*CSS da página: inicio */

.div-dos-cards-do-inicio {
    display: flex;
    align-items: end;
    justify-content: space-around;
    width: 100%;
    height: 400px;
}

.inicio-img {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.inicio-img:hover {
    height: 330px;
    width: 330px;
    cursor: pointer;
}

.menu-de-baixo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 280px;
}

.titulo-das-funcoes-de-ajuda {
    font-family: "Truculenta", sans-serif;
    font-size: 15px;
    height: 45px
}

.abas-das-funcoes-de-ajuda {
    cursor: pointer;
    height: 35px;
}

/* O CSS da página: inicio acaba aqui */



/* CSS das paginas dos produtos*/

.div-dos-cards {
    display: flex;
    align-items: end;
    justify-content: space-around;
    width: 100%;
    height: 500px;
}

.cards-dos-produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-dos-cards-dos-produtos {
    height: 300px;
    width: 250px;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.img-dos-cards-dos-produtos:hover {
    height: 330px;
    width: 280px;
    cursor: pointer;
}

.img-dos-cards-dos-produtos-tenis {
    height: 250px;
    width: 250px;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.img-dos-cards-dos-produtos-tenis:hover {
    height: 280px;
    width: 280px;
    cursor: pointer;
}

.nome-dos-produtos {
    font-size: 15px;
}
/* O CSS das paginas dos produtos acaba aqui*/

/*css do ADM */

.pra-organizar {
    display: none;
    align-items: center;
    justify-content: center;
    height: 1000px;
    width: 100%;
}

#preview {
    height: 340px;
    width: 250px;
    border: solid black 1px;
}

.cards-customizados {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: solid black 1px;
    height: 900px;
    width: 700px;
}

#sair-do-menu-de-adicionar-imgs {
    height: 50px;
    width: 50px;
    cursor: pointer;
    position: absolute;
    top: 100px;
    left: 1320px;
}

#nome-do-produto {
    width: 250px;
    height: 25px;
    border-radius: 5px;
}

#tipo-do-material {
    width: 200px;
    height: 25px;
    border-radius: 5px;
}

#descricao-do-produto {
    height: 150px;
    width: 300px;
}

#acao-selecao {
    border-top: solid black 1px;
    width: 100%;
}

#adicionar-imgs {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

#remover-imgs {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

#caracteristica-do-produto{
    height: 100px;
    width: 300px;
    border-radius: 5px;
}

#preco {
    height: 25px;
    border-radius: 5px;
}

#pronto {
    height: 25px;
    border-radius: 5px;
    background-color: aqua;
}

#cancelar {
    height: 25px;
    border-radius: 5px;
}

/*css do ADM acaba aqui */

@media screen and (max-width: 1000px) {
    
    .nome-das-paginas {
        font-size: 15px;
    }

    .div-dos-cards-do-inicio {
        flex-direction: column;
        align-items: center;
        height: 1300px;
    }

    .div-dos-cards {
        flex-direction: column;
        align-items: center;
        height: 1300px;
    }

    .menu-de-baixo {
        flex-direction: column;
        align-items: start;
    }

    h1 {
        height: 40px
    }

    p {
        cursor: pointer;
        height: 40px;
    }
}